<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo fichaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-radio-group [value]="radioButtonValue" #type>

    <ion-item>
      <ion-label>Entrada</ion-label>
      <ion-radio slot="start" value="E"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Salida</ion-label>
      <ion-radio slot="start" value="S"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Incidencia</ion-label>
      <ion-radio slot="start" value="I"></ion-radio>
    </ion-item>

  </ion-radio-group>
</ion-list>

<ion-content>
  <ion-item>
    <ion-textarea placeholder="Comentarios..." #comment></ion-textarea>
  </ion-item>

  <div style="position: absolute; bottom: 0px; width: 100%">
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-button expand="block" color="success" (click)="onAcceptClick(type.value, comment.value)"
          routerDirection="backward">Aceptar</ion-button>
        <ion-button expand="block" color="danger" routerLink="/home" routerDirection="backward">Cancelar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>

</ion-content>