<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fichajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fichajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list>
      <ion-item class="text" *ngFor="let item of items | async">
        <ion-item class="text" *ngFor="let entry of item">
          {{entry | json}}
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>


  <div style="position: absolute; bottom: 0px; width: 100%">
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-button expand="block" color="success" routerLink="/new-entry" routerDirection="forward">Fichar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>

</ion-content>