<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fichajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
  <ion-content >
  <!-- <ion-content padding> -->
    <ion-list>
      <ion-item class="text" *ngFor="let item of items | async">
        <ion-item class="text" *ngFor="let entry of item">
          {{entry | json}}
        </ion-item>
      </ion-item>
    </ion-list>


  <ion-list>
    <ion-item *ngFor="let entry of entries">
      {{entry.type}}: {{entry.date | date:'dd/MM/yyyy HH:mm:ss'}}, {{entry.comment}}    -- {{ entry.diffTime | date: "HH:mm:ss"}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <!-- <ion-toolbar> -->
    <ion-button expand="block" color="success" routerLink="/new-entry" routerDirection="forward">Fichar</ion-button>
  <!-- </ion-toolbar> -->
</ion-footer>

